.card{
/*     border:none;
    outline:none; */
    border-radius: 20px;
    transition: transform .3s;
}

.card:hover{
    transform: translateY(-15px);
    transition: transform .3s;
}

.cost span{
    color:#F55C47;
    font-weight: bold;
    font-size: 20px;
}

.buttonprod{
    background-color:#F55C47;
}

.buttonprod:hover{
    opacity: .8;
}

.cursor{
    cursor:pointer;
/*     border-radius: 20px;*/   
 border-bottom-left-radius: 20px;
 border-bottom-right-radius: 20px;
}