.listproducts {
    display: flex;
    flex-direction: column;
    width: 75vw;
    margin-left: auto;
    margin-right: auto;
}

.addback {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-around;
}

span {
    font-weight: 500;
}

.imageup {
    width: 500px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}

.renglon {
    display: flex;
    border: 1px solid;
    width: auto;
    align-content: center;
    justify-content: space-between;
}